<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

	<!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
	<variable name="myvar" value="myvalue"/>

	<!--[變數] 文字樣板 -->
	<variable name="Layout" value="${longdate} | ${level:uppercase=true} | ${logger} | ${message} "/>
	<variable name="LayoutFatal" value="${longdate} | ${level:uppercase=true} | ${logger} | ${message} | ${exception:format=tostring} "/>
	<variable name="LayoutWithoutLoggerName" value="${longdate} | ${level:uppercase=true} | ${message} "/>
	<variable name="Dataset" value="${message} "/>

	<!--[變數] 檔案位置 -->
	<variable name="LogTxtDir" value="${basedir}/Logs/${shortdate}/"/>
	<variable name="LogTxtLocation" value="${LogTxtDir}/${logger}.log"/>
	<variable name="LogTxtLocationFatal" value="${LogTxtDir}/FatalFile.log"/>

	<!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
	<targets>

		<!--
    add your targets here
    See https://github.com/nlog/NLog/wiki/Targets for possible targets.
    See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
    -->

		<!--
    Write events to a file with the date in the filename.
    <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />
    -->

		<!-- DICOM 相關 -->
		<!-- Trace -->
		<target name="FileDICOM" xsi:type="File" fileName="${LogTxtDir}/DICOM.log" layout="${Layout}"
				encoding="utf-8" maxArchiveFiles="300" archiveNumbering="Sequence"
				archiveAboveSize="10485760" archiveFileName="${LogTxtDir}/DICOM{#######}.log" />
		<!-- Debug -->
		<target name="DatasetWalker" xsi:type="File" fileName="${LogTxtDir}/DICOMDataset.log" layout="${Dataset}"
				encoding="utf-8" maxArchiveFiles="300" archiveNumbering="Sequence"
				archiveAboveSize="10485760" archiveFileName="${LogTxtDir}/DICOMDataset{#######}.log" />
		<!-- Error -->
		<target name="FileDICOMFatal" xsi:type="File" fileName="${LogTxtDir}/DICOMFatal.log" layout="${LayoutFatal}"
				encoding="utf-8" maxArchiveFiles="300" archiveNumbering="Sequence"
				archiveAboveSize="10485760" archiveFileName="${LogTxtDir}/DICOMFatal{#######}.log" />

		<!-- 歸檔 相關 -->
		<!-- Trace -->
		<target name="ArchivingDICOM" xsi:type="File" fileName="${LogTxtDir}/Archiving.log" layout="${Layout}"
				encoding="utf-8" maxArchiveFiles="300" archiveNumbering="Sequence"
				archiveAboveSize="10485760" archiveFileName="${LogTxtDir}/Archiving{#######}.log" />
		<!-- Error -->
		<target name="ArchivingDICOMFatal" xsi:type="File" fileName="${LogTxtDir}/ArchivingFatal.log" layout="${LayoutFatal}"
				encoding="utf-8" maxArchiveFiles="300" archiveNumbering="Sequence"
				archiveAboveSize="10485760" archiveFileName="${LogTxtDir}/ArchivingFatal{#######}.log" />

		<!-- Job 相關 -->
		<!-- Trace -->
		<target name="JobRunner" xsi:type="File" fileName="${LogTxtDir}/JobBuild.log" layout="${Layout}"
				encoding="utf-8" maxArchiveFiles="300" archiveNumbering="Sequence"
				archiveAboveSize="10485760" archiveFileName="${LogTxtDir}/JobBuild{#######}.log" />
		<!-- Error -->
		<target name="JobRunnerFatal" xsi:type="File" fileName="${LogTxtDir}/JobBuildFatal.log" layout="${LayoutFatal}"
				encoding="utf-8" maxArchiveFiles="300" archiveNumbering="Sequence"
				archiveAboveSize="10485760" archiveFileName="${LogTxtDir}/JobBuildFatal{#######}.log" />

		<!-- 自動刪檔 相關 -->
		<!-- Trace -->
		<target name="SpaceReleaseRunner" xsi:type="File" fileName="${LogTxtDir}/SpaceRelease.log" layout="${Layout}"
				encoding="utf-8" maxArchiveFiles="300" archiveNumbering="Sequence"
				archiveAboveSize="10485760" archiveFileName="${LogTxtDir}/SpaceRelease{#######}.log" />
		<!-- Error -->
		<target name="SpaceReleaseRunnerFatal" xsi:type="File" fileName="${LogTxtDir}/SpaceReleaseFatal.log" layout="${LayoutFatal}"
				encoding="utf-8" maxArchiveFiles="300" archiveNumbering="Sequence"
				archiveAboveSize="10485760" archiveFileName="${LogTxtDir}/SpaceReleaseFatal{#######}.log" />

		<!-- 使用者動作 相關 -->
		<!-- Trace -->
		<target name="UserAction" xsi:type="File" fileName="${LogTxtDir}/UserAction.log" layout="${LayoutWithoutLoggerName}"
				encoding="utf-8" maxArchiveFiles="300" archiveNumbering="Sequence"
				archiveAboveSize="10485760" archiveFileName="${LogTxtDir}/UserAction{#######}.log" />
		<!-- Error -->
		<target name="UserActionFatal" xsi:type="File" fileName="${LogTxtDir}/UserActionFatal.log" layout="${LayoutFatal}"
				encoding="utf-8" maxArchiveFiles="300" archiveNumbering="Sequence"
				archiveAboveSize="10485760" archiveFileName="${LogTxtDir}/UserActionFatal{#######}.log" />

		<!-- Job status 相關 -->
		<!-- Trace -->
		<target name="Jobstatus" xsi:type="File" fileName="${LogTxtDir}/Jobstatus.log" layout="${Layout}"
				encoding="utf-8" maxArchiveFiles="300" archiveNumbering="Sequence"
				archiveAboveSize="10485760" archiveFileName="${LogTxtDir}/JobBuild{#######}.log" />
		<!-- Error -->
		<target name="JobstatusFatal" xsi:type="File" fileName="${LogTxtDir}/JobstatusFatal.log" layout="${LayoutFatal}"
				encoding="utf-8" maxArchiveFiles="300" archiveNumbering="Sequence"
				archiveAboveSize="10485760" archiveFileName="${LogTxtDir}/JobBuildFatal{#######}.log" />
		
		<!--Service Base SCU 相關-->
		<target name="ServiceSCU" xsi:type="File" fileName="${LogTxtDir}/ServiceSCU.log" layout="${Layout}"
				encoding="utf-8" maxArchiveFiles="300" archiveNumbering="Sequence"
				archiveAboveSize="10485760" archiveFileName="${LogTxtDir}/ServiceSCU{#######}.log" />

		<!--C-Echo SCU 相關-->
		<target name="CEchoSCU" xsi:type="File" fileName="${LogTxtDir}/CEchoSCU.log" layout="${Layout}"
				encoding="utf-8" maxArchiveFiles="300" archiveNumbering="Sequence"
				archiveAboveSize="10485760" archiveFileName="${LogTxtDir}/CEchoSCU{#######}.log" />
	</targets>

	<rules>

		<!-- DICOM 相關 -->
		 <logger name="TeramedQRTool.DicomService.CStoreScp" levels="Trace,Info" writeTo="FileDICOM" /> 
		<!-- <logger name="TeramedQRTool.Utility.DicomHelper.DatasetWalker" levels="Debug" writeTo="DatasetWalker"  /> -->
		<logger name="TeramedQRTool.DicomService.CStoreScp" levels="Error,Fatal" writeTo="FileDICOMFatal"  />

		<!-- 歸檔 相關 -->
		<logger name="TeramedQRTool.Runner.ArchivingRunner" levels="Trace,Info" writeTo="ArchivingDICOM" />
		<logger name="TeramedQRTool.Runner.ArchivingRunner" levels="Error,Fatal" writeTo="ArchivingDICOMFatal"  />

		<!-- Job 相關 -->
		<!-- <logger name="TeramedQRTool.Service.JobBuilderService" levels="Trace,Info" writeTo="JobRunner" /> -->
		<logger name="TeramedQRTool.Service.JobBuilderService" levels="Error,Fatal" writeTo="JobRunnerFatal" />
		<!-- <logger name="TeramedQRTool.Logic.JobContentBuilder" levels="Trace,Info" writeTo="JobRunner" /> -->
		<logger name="TeramedQRTool.Logic.JobContentBuilder" levels="Error,Fatal" writeTo="JobRunnerFatal" />

		<!-- 自動刪檔 相關 -->
		<logger name="TeramedQRTool.Runner.SpaceReleaseRunner" levels="Trace,Info" writeTo="SpaceReleaseRunner" />
		<logger name="TeramedQRTool.Runner.SpaceReleaseRunner" levels="Error,Fatal" writeTo="SpaceReleaseRunnerFatal"  />

		<!-- 使用者動作 相關 -->
		<logger name="UserAction" levels="Trace,Info" writeTo="UserAction" />
		<logger name="UserActionFatal" levels="Error,Fatal" writeTo="UserActionFatal"  />

		<!-- Job status 相關 -->
		<!-- <logger name="JobStatus" levels="Trace,Info" writeTo="Jobstatus" /> -->
		<logger name="JobStatus" levels="Error,Fatal" writeTo="JobstatusFatal" />
		
		<!--Service Base SCU -->
		<logger name="TeramedQRTool.DicomService.ServiceBaseSCU" levels="Trace,Info,Error,Fatal" writeTo="ServiceSCU" />

		<!--C-Echo -->
		<logger name="TeramedQRTool.DicomService.CEchoSCU" levels="Trace,Info,Error,Fatal" writeTo="CEchoSCU" />

	</rules>
</nlog>
